<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Acerca de ...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de ...</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/fuelMapLogo.png" />
      <ion-card-header>
        <ion-card-title>FuelMap</ion-card-title>
        <ion-card-subtitle>By AGimenez Ing.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <h6>Versión 0.1.0</h6>
        <p>Puedes contactarme en mi correo <a href="mailto:agimenezing@gmail.com">agimenezing@gmail.com</a></p>
        <p>La obtención de precios coresponde a los datos facilitados por el gobierno en la web https://datos.gob.es/es/ de utilidad pública.</p>
        <p>EStos datos, según la fuente, se actualizarán cada 30 min aproximadamente.</p>
      </ion-card-content>
    </ion-card>
    <h3>Para actualizar los datos en la app, pulsa:</h3>
    <ion-img src="../../assets/aaaaaaaa.png"></ion-img>
  </ion-card>
</ion-content>
